html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(180deg, #131 0%, #252 100%) no-repeat fixed;
  background-size: 100% 1080px;
  color: white;
}

h1, h2 {
  text-shadow: white 0 0 10px;
}

td {
  font-size: 80px;
  width: 100px;
  height: 100px;
  font-weight: bolder;
  text-align: center;
  border: 18px solid rgba(128, 128, 128, 0.5);
  padding: 0;
  text-shadow: #fff 0 0 30px;
  cursor: pointer;
}

tr td:first-child, tr td:last-child {
  border-left: none;
  border-right: none;
}

tr:first-child td, tr:last-child td {
  border-top: none;
  border-bottom: none;
}

table {
  border-collapse: collapse;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#version-para {
  color: rgba(255, 255, 255, 0.5);
}

#version {
  margin-top: 20px;
  font-size: 20px;
  width: 2em;
  border-style: none;
  background-color: transparent;
  color: inherit;
}

#version:focus {
  outline: none;
}
